body{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;  
}

#navbar{
    position:fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5px;
    background-color: rgb(62, 157, 185);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.displays{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5,1);
}



.botao:hover {
    background-color: white;
    color: white;
    transform: translateY(-5px);
}


.flex{
    display: flex;
}

  h1, h2 {
      color: #000000;
    }

.secao {
      background: white;
      padding: 15px;
      margin-bottom: 25px;
      border-radius: 8px;
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }

.box {
      background:  rgb(62, 157, 185);
      color: white;
      padding: 10px;
      margin: 5px;
      text-align: center;
      font-weight: bold;
    }

.block .box {
      display: block;
      width: 200px;
    }

.inline .box {
      display: inline;
      background: #f37373;
    }

.inline-block .box {
      display: inline-block;
      width: 120px;
      background: #9b59b6;
    }

.flex {
      display: flex;
      gap: 10px;
      background: #ecf0f1;
      padding: 10px;
    }

.flex .box {
      background: #27ae60;
      width: 100px;
    }

.inline-flex {
      display: inline-flex;
      gap: 10px;
      background: #bdc3c7;
      padding: 10px;
    }

.inline-flex .box {
      background: #c0392b;
      width: 80px;
    }

.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      background: #ecf0f1;
      padding: 10px;
    }

.grid .box {
      background: #16a085;
    }

.pos-container {
      position: relative;
      height: 200px;
      background: #ecf0f1;
      margin-top: 15px;
    }

.static {
      position: static;
      background: #7f8c8d;
    }

.relative {
      position: relative;
      top: 20px;
      left: 20px;
      background: #2980b9;
    }

.absolute {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #d35400;
    }

.fixed {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background: #8e44ad;
      padding: 10px;
      color: white;
    }

.sticky {
      position: sticky;
      top: 0;
      background: #27ae60;
      padding: 10px;
      color: white;
    }
    
